
WPF_SyncCharts/chart_testing_2/.vs/chart_testing_2/v16/Server/sqlite3/db.lock
WPF_SyncCharts/chart_testing_2/.vs/chart_testing_2/v16/Server/sqlite3/storage.ide
*.ide-wal
WPF_SyncCharts/chart_testing_2/.vs/chart_testing_2/v16/Server/sqlite3/storage.ide-shm
Charts_testing/chartsTesting/.vs/chartsTesting/v16/.suo
Charts_testing/chartsTesting/.vs/chartsTesting/v16/.suo
Charts_testing/chartsTesting/.vs/chartsTesting/v16/Server/sqlite3/storage.ide
Charts_testing/chartsTesting/chartsTesting/bin/Debug/chartsTesting.exe
Charts_testing/chartsTesting/chartsTesting/bin/Debug/chartsTesting.pdb
Charts_testing/chartsTesting/.vs/chartsTesting/v16/.suo
Charts_testing/chartsTesting/.vs/chartsTesting/v16/Server/sqlite3/storage.ide
Charts_testing/chartsTesting/.vs/chartsTesting/v16/Server/sqlite3/storage.ide
